Repository ellman12/WingTechBot-MK3: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "packages/backend/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
    "packages/frontend/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
    "**/*.{json,md}": ["prettier --write"]
}

Bot now properly catches and prints error message when Gemini LLM unavailable
  packages/backend/src/core/services/LlmConversationService.ts
Due: eslint --fix, prettier --write

Make migration to convert all timestamp columns to timestamptz
  packages/backend/database/migrations/010_fix_timestamp_columns.ts
  packages/backend/src/core/services/LlmConversationService.ts
Due: eslint --fix, prettier --write

Llm now ignores previous messages older than 15 minutes
  packages/backend/src/adapters/repositories/MessageRepository.ts
  packages/backend/src/core/repositories/MessageRepository.ts
  packages/backend/src/core/services/LlmConversationService.ts
  packages/backend/src/core/services/MessageArchiveService.ts
Due: eslint --fix, prettier --write

Fix migration 010
  packages/backend/database/migrations/010_fix_timestamp_columns.ts
Due: eslint --fix, prettier --write

Fix migration 010 for real
  packages/backend/database/migrations/010_fix_timestamp_columns.ts
Due: eslint --fix, prettier --write

I forgor to have the soundboard thread check if users are banned
  packages/backend/src/core/services/SoundboardThreadService.ts
  packages/backend/src/main.ts
Due: eslint --fix, prettier --write

I forgor to have the soundboard thread check if users are banned (#82)
  packages/backend/src/core/services/SoundboardThreadService.ts
  packages/backend/src/main.ts
Due: eslint --fix, prettier --write

Revise users table and UsersRepository to be useful
  packages/backend/database/migrations/011_improve_users_table.ts
  packages/backend/database/types.ts
  packages/backend/src/adapters/repositories/KyselyUserRepository.ts
  packages/backend/src/adapters/repositories/UserRepository.ts
  packages/backend/src/core/entities/User.ts
  packages/backend/src/core/repositories/UserRepository.ts
  packages/backend/tests/unit/users/usersRepository.test.ts
Due: eslint --fix, prettier --write

Add methods to message and reaction repos for getting unique user IDs
  packages/backend/src/adapters/repositories/MessageRepository.ts
  packages/backend/src/adapters/repositories/ReactionRepository.ts
  packages/backend/src/core/repositories/MessageRepository.ts
  packages/backend/src/core/repositories/ReactionRepository.ts
Due: eslint --fix, prettier --write

Create DiscordUserSyncService and event handlers
  packages/backend/src/application/eventHandlers/DiscordUserSyncService.ts
  packages/backend/src/core/services/DiscordUserSyncService.ts
  packages/backend/src/infrastructure/discord/DiscordBot.ts
  packages/backend/src/main.ts
  packages/backend/tests/utils/createMinimalTestBot.ts
Due: eslint --fix, prettier --write

Add config option to skip user processing on start
  .github/workflows/ci.yaml
  packages/backend/src/adapters/config/ConfigAdapter.ts
  packages/backend/src/core/config/Config.ts
  packages/backend/src/infrastructure/discord/DiscordBot.ts
  packages/backend/tests/setup.ts
Due: eslint --fix, prettier --write

Fix migration 010 missing a ton of `NOT NULL`s
  packages/backend/database/migrations/010_fix_timestamp_columns.ts
  packages/backend/database/types.ts
  packages/backend/src/adapters/repositories/MessageRepository.ts
Due: eslint --fix, prettier --write

Update all packages
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --write

/karma-leaderboard tries to get past member names instead of showing Unknown
  packages/backend/src/adapters/repositories/ReactionRepository.ts
  packages/backend/src/application/commands/ReactionCommands.ts
  packages/backend/src/core/repositories/ReactionRepository.ts
Due: eslint --fix, prettier --write

/karma-leaderboard can now filter out former members and unknown users
  packages/backend/src/adapters/repositories/ReactionRepository.ts
  packages/backend/src/application/commands/ReactionCommands.ts
  packages/backend/src/core/repositories/ReactionRepository.ts
Due: eslint --fix, prettier --write

@yall reply
  packages/backend/src/core/config/Config.ts
  packages/backend/src/core/services/AutoReactionService.ts
Due: eslint --fix, prettier --write

Remove useless console.log for docs url
  packages/backend/src/infrastructure/http/ExpressApp.ts
Due: eslint --fix, prettier --write

Fix order of conditons in tryToPlaySoundFromMessage()
  packages/backend/src/core/services/SoundboardThreadService.ts
Due: eslint --fix, prettier --write

fix test
  packages/backend/tests/setup.ts
Due: eslint --fix, prettier --write

Fix formatting of reactions given and received command output
  packages/backend/src/application/commands/ReactionCommands.ts
Due: eslint --fix, prettier --write

Fix compose.yaml not fixing lowercase IMAGE_NAME
  scripts/generate-compose.sh
Due: none

Fix environment variables for docker-compose.dev.yaml
  packages/backend/docker-compose.dev.yaml
Due: none

WTB3 now sets the latest git tag and commit in its description
  packages/backend/src/infrastructure/discord/DiscordBot.ts
Due: eslint --fix, prettier --write

Replace #channel with channel name
  packages/backend/src/core/services/AutoReactionService.ts
  packages/backend/src/core/services/DiscordChatService.ts
  packages/backend/src/core/services/LlmConversationService.ts
  packages/backend/tests/unit/core/services/AutoReactionService.test.ts
  packages/backend/tests/utils/createMinimalTestBot.ts
Due: eslint --fix, prettier --write

Replace emoji with :emoji: in funny number test
  packages/backend/src/core/services/AutoReactionService.ts
  packages/backend/src/core/services/DiscordChatService.ts
Due: eslint --fix, prettier --write

Add comment to fix GitHub PR
  .gitignore
Due: none

Fix stupid migration 010 again
  packages/backend/database/migrations/010_fix_timestamp_columns.ts
Due: eslint --fix, prettier --write

Fix stupid migration 010 again (#86)
  packages/backend/database/migrations/010_fix_timestamp_columns.ts
Due: eslint --fix, prettier --write

Add console log saying what bot setting description to
  packages/backend/src/infrastructure/discord/DiscordBot.ts
Due: eslint --fix, prettier --write

Hopefully fix cache issues with backend Dockerfile and migrations
  packages/backend/Dockerfile
Due: none

Tweak README
  README.md
Due: prettier --write

No bulk for a single message + fix batch update
  packages/backend/src/adapters/repositories/MessageRepository.ts
  packages/backend/src/core/services/MessageArchiveService.ts
Due: eslint --fix, prettier --write

Change generate-compose.sh to use the current GIT_TAG instead of "latest"
  scripts/generate-compose.sh
Due: none

Change generate-compose.sh to use the current GIT_TAG instead of "latest" (#89)
  scripts/generate-compose.sh
Due: none

Make security CI/CD step optional, and remove broken new version of package
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add baic int tests for sending messages through DiscordChatService
  packages/backend/tests/integration/messagesAndReactions/DiscordChatService.test.ts
  packages/backend/tests/integration/messagesAndReactions/processAllChannels.test.ts
  packages/backend/tests/utils/createMinimalTestBot.ts
Due: eslint --fix, prettier --write

Make defaults for /karma-leaderboard more sensible
  packages/backend/src/application/commands/ReactionCommands.ts
Due: eslint --fix, prettier --write

Replace Watchtower container with custom GitHub Action
  .github/workflows/release.yaml
  scripts/generate-compose.sh
Due: none

Add ghcr-cleanup.yaml
  .github/workflows/ghcr-cleanup.yaml
Due: none
