Repository ellman12/WingTechBot-MK3: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Tweak README
  README.md
Due: prettier --write

Fix output of /record command having extra karma emote names
  packages/backend/src/adapters/repositories/ReactionEmoteRepository.ts
  packages/backend/src/application/commands/Commands.ts
  packages/backend/src/application/commands/ReactionCommands.ts
  packages/backend/src/core/repositories/ReactionEmoteRepository.ts
Due: eslint --fix, prettier --write

Fix output of /record command having extra karma emote names (#93)
  packages/backend/src/adapters/repositories/ReactionEmoteRepository.ts
  packages/backend/src/application/commands/Commands.ts
  packages/backend/src/application/commands/ReactionCommands.ts
  packages/backend/src/core/repositories/ReactionEmoteRepository.ts
Due: eslint --fix, prettier --write

Add users online shield icon
  README.md
Due: prettier --write

Fix erroneous 'v' in ghcr-cleanup regex
  .github/workflows/ghcr-cleanup.yaml
Due: none

Fix erroneous 'v' in ghcr-cleanup regex (#97)
  .github/workflows/ghcr-cleanup.yaml
Due: none

Remove getAllMessagesAsMap from MessageRepository
  packages/backend/src/adapters/repositories/MessageRepository.ts
  packages/backend/src/core/repositories/MessageRepository.ts
Due: eslint --fix, prettier --write

Make base messages query function
  packages/backend/src/adapters/repositories/MessageRepository.ts
Due: eslint --fix, prettier --write

Make some stuff one line
  packages/backend/src/adapters/repositories/MessageRepository.ts
Due: eslint --fix, prettier --write

fewer errors probably
  packages/backend/src/adapters/services/DiscordVoiceService.ts
  packages/backend/src/application/commands/VoiceCommands.ts
  packages/backend/src/core/services/AudioCacheService.ts
  packages/backend/src/core/services/FileManager.ts
  packages/backend/src/core/services/SoundService.ts
  packages/backend/src/core/services/VoiceService.ts
  packages/backend/src/infrastructure/filestore/FileManager.ts
  packages/backend/tests/integration/audio/sound-service-integration.test.ts
Due: eslint --fix, prettier --write

Less startup stuttering + reduce loudness normalization to target -24LUFS
  packages/backend/src/adapters/audio/OverlappingAudioPlayer.ts
  packages/backend/src/adapters/services/DiscordVoiceService.ts
  packages/backend/src/adapters/services/FfmpegAudioProcessingService.ts
  packages/backend/src/application/commands/VoiceCommands.ts
  packages/backend/src/core/entities/AudioFormatInfo.ts
  packages/backend/src/core/entities/AudioStream.ts
  packages/backend/src/core/services/AudioFetcherService.ts
  packages/backend/src/core/services/SoundService.ts
  packages/backend/src/core/utils/audio/PcmMixer.ts
  packages/backend/src/core/utils/streamUtils.ts
  packages/backend/src/infrastructure/ffmpeg/FfmpegService.ts
  packages/backend/src/infrastructure/filestore/FileManager.ts
  packages/backend/src/infrastructure/yt-dlp/YtDlpService.ts
  packages/backend/tests/unit/adapters/services/FfmpegAudioProcessingService.test.ts
Due: eslint --fix, prettier --write

Fixed tests
  packages/backend/tests/unit/adapters/services/FfmpegAudioProcessingService.test.ts
  【Official MV】星降る海 – Aqu3ra ⧸ 月見ヤチヨ(cv.早見沙織) from 超かぐや姫！ [h5XQqKuek5A].opus
Due: eslint --fix, prettier --write

drop error test
  packages/backend/tests/unit/core/services/SoundService.test.ts
Due: eslint --fix, prettier --write

fix repeat issue
  packages/backend/src/core/utils/audio/pcmRepeater.ts
Due: eslint --fix, prettier --write

Delete test file
  【Official MV】星降る海 – Aqu3ra ⧸ 月見ヤチヨ(cv.早見沙織) from 超かぐや姫！ [h5XQqKuek5A].opus
Due: none

ffmpeg logs are not errors
  packages/backend/src/infrastructure/ffmpeg/FfmpegService.ts
Due: eslint --fix, prettier --write

Update packages/backend/src/core/services/AudioFetcherService.ts
  packages/backend/src/core/services/AudioFetcherService.ts
Due: eslint --fix, prettier --write

comments
  packages/backend/src/adapters/audio/OverlappingAudioPlayer.ts
  packages/backend/src/adapters/services/DiscordVoiceService.ts
Due: eslint --fix, prettier --write

more comments
  packages/backend/src/application/commands/VoiceCommands.ts
  packages/backend/src/core/services/AudioFetcherService.ts
  packages/backend/src/core/utils/audio/PcmMixer.ts
Due: eslint --fix, prettier --write

Less startup stuttering + reduce loudness normalization to target -24LUFS (#96)
  packages/backend/src/adapters/audio/OverlappingAudioPlayer.ts
  packages/backend/src/adapters/services/DiscordVoiceService.ts
  packages/backend/src/adapters/services/FfmpegAudioProcessingService.ts
  packages/backend/src/application/commands/VoiceCommands.ts
  packages/backend/src/core/entities/AudioFormatInfo.ts
  packages/backend/src/core/entities/AudioStream.ts
  packages/backend/src/core/services/AudioCacheService.ts
  packages/backend/src/core/services/AudioFetcherService.ts
  packages/backend/src/core/services/FileManager.ts
  packages/backend/src/core/services/SoundService.ts
  packages/backend/src/core/services/VoiceService.ts
  packages/backend/src/core/utils/audio/PcmMixer.ts
  packages/backend/src/core/utils/audio/pcmRepeater.ts
  packages/backend/src/core/utils/streamUtils.ts
  packages/backend/src/infrastructure/ffmpeg/FfmpegService.ts
  packages/backend/src/infrastructure/filestore/FileManager.ts
  packages/backend/src/infrastructure/yt-dlp/YtDlpService.ts
  packages/backend/tests/integration/audio/sound-service-integration.test.ts
  packages/backend/tests/unit/adapters/services/FfmpegAudioProcessingService.test.ts
  packages/backend/tests/unit/core/services/SoundService.test.ts
Due: eslint --fix, prettier --write

Added gemini tools
  packages/backend/src/infrastructure/services/GeminiLlmService.ts
Due: eslint --fix, prettier --write

Bumped package versions
  package.json
  packages/backend/package.json
  pnpm-lock.yaml
Due: prettier --write

SoundboardThreadService now makes messages lowercase
  packages/backend/src/core/services/SoundboardThreadService.ts
Due: eslint --fix, prettier --write

SoundboardThreadService now makes messages lowercase (#103)
  packages/backend/src/core/services/SoundboardThreadService.ts
Due: eslint --fix, prettier --write

Rename generateMessage to generateResponse
  packages/backend/src/core/services/AutoReactionService.ts
  packages/backend/src/core/services/LlmConversationService.ts
  packages/backend/src/infrastructure/discord/DiscordBot.ts
  packages/backend/src/infrastructure/services/GeminiLlmService.ts
  packages/backend/tests/unit/core/services/AutoReactionService.test.ts
  packages/backend/tests/utils/createMinimalTestBot.ts
Due: eslint --fix, prettier --write

LLM can now tell who said what messages
  packages/backend/src/core/services/AutoReactionService.ts
  packages/backend/src/core/services/LlmConversationService.ts
  packages/backend/src/core/utils/batchUtils.ts
  packages/backend/src/infrastructure/discord/DiscordBot.ts
  packages/backend/src/infrastructure/services/GeminiLlmService.ts
  packages/backend/src/main.ts
  packages/backend/tests/unit/core/services/AutoReactionService.test.ts
  packages/backend/tests/utils/createMinimalTestBot.ts
Due: eslint --fix, prettier --write

Corrections to down() in 010 migration
  packages/backend/database/migrations/010_fix_timestamp_columns.ts
Due: eslint --fix, prettier --write

Disable security CI step for now
  .github/workflows/ci.yaml
Due: none

Remove uesless test utils and add a new util
  packages/backend/tests/utils/testUtils.ts
Due: eslint --fix, prettier --write

Set up backend to start logging sounds as they're played
  packages/backend/database/migrations/012_played_sounds_table.ts
  packages/backend/database/types.ts
  packages/backend/src/adapters/repositories/PlayedSoundsRepository.ts
  packages/backend/src/adapters/services/DiscordVoiceService.ts
  packages/backend/src/application/commands/Commands.ts
  packages/backend/src/application/commands/PlayedSoundsCommands.ts
  packages/backend/src/application/commands/VoiceCommands.ts
  packages/backend/src/core/entities/PlayedSounds.ts
  packages/backend/src/core/repositories/PlayedSoundsRepository.ts
  packages/backend/src/core/services/SoundboardThreadService.ts
  packages/backend/src/core/services/VoiceEventSoundsService.ts
  packages/backend/src/core/services/VoiceService.ts
  packages/backend/src/infrastructure/discord/DiscordBot.ts
  packages/backend/src/main.ts
  packages/backend/tests/unit/playedSounds/playedSounds.test.ts
  packages/backend/tests/utils/createMinimalTestBot.ts
Due: eslint --fix, prettier --write

Fix /top-messages using current channel ID instead of message channel ID
  packages/backend/src/application/commands/ReactionCommands.ts
Due: eslint --fix, prettier --write

Reduce duplication in reactions given/received tests
  packages/backend/tests/unit/reactions/getReactionsGiven.test.ts
  packages/backend/tests/unit/reactions/getReactionsReceived.test.ts
Due: eslint --fix, prettier --write

Lower default value of top-emotes limit to 10
  packages/backend/src/application/commands/ReactionCommands.ts
Due: eslint --fix, prettier --write

Add limit param to reactions given/received functions and commands
  packages/backend/src/adapters/repositories/ReactionRepository.ts
  packages/backend/src/application/commands/ReactionCommands.ts
  packages/backend/src/core/repositories/ReactionRepository.ts
  packages/backend/tests/unit/reactions/getReactionsGiven.test.ts
  packages/backend/tests/unit/reactions/getReactionsReceived.test.ts
Due: eslint --fix, prettier --write

No longer pings roles when listing reactions given/received
  packages/backend/src/application/commands/ReactionCommands.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: packages/backend/**/*.{ts,tsx}) or (any of: packages/frontend/**/*.{ts,tsx})
  prettier --write: ((any of: packages/backend/**/*.{ts,tsx}) or (any of: packages/frontend/**/*.{ts,tsx})) or (any of: **/*.{json,md})
