Repository ellman12/WingTechBot-MK3: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix deleting making GH Release step
  .github/workflows/release.yaml
Due: none

parallelized
  packages/backend/src/adapters/repositories/MessageRepository.ts
  packages/backend/src/core/services/MessageArchiveService.ts
Due: eslint --fix, prettier --write

Better caching maybe
  .github/workflows/ci.yaml
Due: none

Renaming / ordering
  .github/workflows/ci.yaml
Due: none

Going back...
  .github/workflows/ci.yaml
Due: none

cleanup and stuff
  packages/backend/src/core/services/MessageArchiveService.ts
Due: eslint --fix, prettier --write

retry on fail
  packages/backend/package.json
  packages/backend/src/core/services/MessageArchiveService.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

No full sync on bot start
  packages/backend/src/infrastructure/discord/DiscordBot.ts
Due: eslint --fix, prettier --write

Remove useless comments
  packages/backend/src/adapters/repositories/ReactionRepository.ts
Due: eslint --fix, prettier --write

Overhaul and enhance release.yaml GH Action
  .github/workflows/release.yaml
  scripts/generate-compose.sh
Due: none

Dan forgor to get rid of these checks in ReactionArchiveService
  packages/backend/src/core/services/ReactionArchiveService.ts
Due: eslint --fix, prettier --write

Fix not making repo name lowercase
  .github/workflows/release.yaml
Due: none

Double event handler
  packages/backend/src/infrastructure/discord/DiscordBot.ts
Due: eslint --fix, prettier --write

Replace user and role mentions for funny substrings
  packages/backend/src/core/services/AutoReactionService.ts
Due: eslint --fix, prettier --write

wtb more permanent cache (that doesn't have perm issues maybe)
  scripts/generate-compose.sh
Due: none

Fix missing ports in compose.yaml
  scripts/generate-compose.sh
Due: none

Fix MessageArchiveService erroring for deleted emojis that still have reactions
  packages/backend/src/core/services/MessageArchiveService.ts
Due: eslint --fix, prettier --write

Second pass on Message Archiver
  .github/workflows/ci.yaml
  packages/backend/package.json
  packages/backend/scripts/sync-messages.ts
  packages/backend/src/adapters/repositories/MessageRepository.ts
  packages/backend/src/adapters/repositories/ReactionRepository.ts
  packages/backend/src/core/entities/Message.ts
  packages/backend/src/core/repositories/MessageRepository.ts
  packages/backend/src/core/services/AutoReactionService.ts
  packages/backend/src/core/services/FileManager.ts
  packages/backend/src/core/services/MessageArchiveService.ts
  packages/backend/src/core/services/ReactionArchiveService.ts
  packages/backend/src/core/utils/batchUtils.ts
  packages/backend/src/infrastructure/discord/DiscordBot.ts
  packages/backend/src/infrastructure/filestore/FileManager.ts
  packages/backend/src/main.ts
  packages/backend/tests/integration/messagesAndReactions/processAllChannels.test.ts
  packages/backend/tests/unit/core/services/SoundService.test.ts
  packages/backend/tests/unit/messages/editMessage.test.ts
  packages/backend/tests/utils/createMinimalTestBot.ts
  pnpm-lock.yaml
  scripts/generate-compose.sh
Due: eslint --fix, prettier --write

Fix WTB not setting its Discord status on start
  packages/backend/src/core/repositories/LlmInstructionRepository.ts
  packages/backend/src/infrastructure/discord/DiscordBot.ts
  packages/backend/src/main.ts
Due: eslint --fix, prettier --write

Fix not being able to DM WTB3
  packages/backend/src/core/services/LlmConversationService.ts
Due: eslint --fix, prettier --write

Remove readyResolver, fixing issues starting the bot
  packages/backend/src/infrastructure/discord/DiscordBot.ts
Due: eslint --fix, prettier --write

Install Pino and create base Logger
  package.json
  packages/backend/src/core/services/Logger.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Fix Discord Bot infinite login await
  packages/backend/src/infrastructure/discord/DiscordBot.ts
Due: eslint --fix, prettier --write

Update packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fix type mixup with LlmInstructionRepository
  packages/backend/src/adapters/repositories/LlmInstructionRepository.ts
  packages/backend/src/core/repositories/LlmInstructionRepository.ts
  packages/backend/src/core/services/AutoReactionService.ts
  packages/backend/src/core/services/LlmConversationService.ts
  packages/backend/src/infrastructure/discord/DiscordBot.ts
  packages/backend/tests/unit/core/services/AutoReactionService.test.ts
  packages/backend/tests/utils/createMinimalTestBot.ts
Due: eslint --fix, prettier --write

Fix WTB not setting its Discord status on start
  packages/backend/src/infrastructure/discord/DiscordBot.ts
  packages/backend/src/main.ts
Due: eslint --fix, prettier --write

Fix ci.yaml which broke somehow
  .github/workflows/ci.yaml
Due: none

Fix Discord slash commands not deploying
  packages/backend/src/infrastructure/discord/DiscordBot.ts
Due: eslint --fix, prettier --write

Create migration, repository, and tests for banned features table
  packages/backend/database/migrations/009_add_banned_features_table.ts
  packages/backend/database/types.ts
  packages/backend/src/adapters/repositories/BannedFeaturesRepository.ts
  packages/backend/src/core/entities/BannedFeature.ts
  packages/backend/tests/unit/bannedFeatures/banFeature.test.ts
  packages/backend/tests/unit/bannedFeatures/getBannedUsers.test.ts
  packages/backend/tests/unit/bannedFeatures/isUserBanned.test.ts
  packages/backend/tests/unit/bannedFeatures/unbanFeature.test.ts
Due: eslint --fix, prettier --write

Add commands for (un)banning people and listing who is banned
  packages/backend/src/application/commands/BannedFeaturesCommands.ts
  packages/backend/src/application/commands/Commands.ts
  packages/backend/src/infrastructure/discord/DiscordBot.ts
  packages/backend/src/main.ts
  packages/backend/tests/utils/createMinimalTestBot.ts
Due: eslint --fix, prettier --write

LlmConversationService now respects banned features
  packages/backend/src/core/services/LlmConversationService.ts
  packages/backend/src/main.ts
Due: eslint --fix, prettier --write

Update ReactionRepository and its unit tests to reflect new ban feature
  packages/backend/src/adapters/repositories/ReactionRepository.ts
  packages/backend/tests/unit/reactionEmotes/createReactionEmotes.test.ts
  packages/backend/tests/unit/reactionEmotes/updateReactionEmote.test.ts
  packages/backend/tests/unit/reactions/createReactions.test.ts
  packages/backend/tests/unit/reactions/deleteReactions.test.ts
  packages/backend/tests/unit/reactions/deleteReactionsForEmote.test.ts
  packages/backend/tests/unit/reactions/deleteReactionsForMessage.test.ts
  packages/backend/tests/unit/reactions/getEmoteLeaderboard.test.ts
  packages/backend/tests/unit/reactions/getKarmaAndAwards.test.ts
  packages/backend/tests/unit/reactions/getKarmaLeaderboard.test.ts
  packages/backend/tests/unit/reactions/getReactionsGiven.test.ts
  packages/backend/tests/unit/reactions/getReactionsReceived.test.ts
  packages/backend/tests/unit/reactions/getTopMessages.test.ts
  packages/backend/tests/utils/testUtils.ts
Due: eslint --fix, prettier --write

Voice commands are now disabled for banned users
  packages/backend/src/application/commands/Commands.ts
  packages/backend/src/application/commands/VoiceCommands.ts
Due: eslint --fix, prettier --write

Fix tests
  packages/backend/tests/unit/bannedFeatures/unbanFeature.test.ts
Due: eslint --fix, prettier --write

Fix missing Ephemeral flags
  packages/backend/src/application/commands/VoiceCommands.ts
Due: eslint --fix, prettier --write

Change to DM user instead of replying to message
  packages/backend/src/core/services/LlmConversationService.ts
Due: eslint --fix, prettier --write

Fix re-running /ban-feature throwing error
  packages/backend/src/application/commands/BannedFeaturesCommands.ts
Due: eslint --fix, prettier --write

Fix missing network for backup container in release.yaml
  scripts/generate-compose.sh
Due: none

Path conditions:
  eslint --fix: (any of: packages/backend/**/*.{ts,tsx}) or (any of: packages/frontend/**/*.{ts,tsx})
  prettier --write: ((any of: packages/backend/**/*.{ts,tsx}) or (any of: packages/frontend/**/*.{ts,tsx})) or (any of: **/*.{json,md})
