Repository ellman12/WingTechBot-MK3: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix CD?
  .github/workflows/docker.yml
Due: none

Delete setup-github-pages.sh
  scripts/setup-github-pages.sh
Due: none

Rename docker.yml to release.yml and make it attach docker compose prod yml file to release
  .github/workflows/docker.yml
  .github/workflows/release.yml
Due: none

Standardize usage of yaml for everything instead of yml
  .github/workflows/ci.yaml
  .github/workflows/dependencies.yaml
  .github/workflows/release.yaml
  .github/workflows/stale.yaml
  README.md
Due: prettier --write

Fix incorrect values in release compose yaml
  .github/workflows/release.yaml
Due: none

Fix various issues with the release compose yml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  packages/backend/.env.example
  packages/backend/src/adapters/repositories/LlmInstructionRepository.ts
  packages/backend/src/infrastructure/config/Config.ts
  packages/backend/tests/integration/audio/sound-service-integration.test.ts
  packages/backend/tests/unit/core/services/SoundService.test.ts
Due: eslint --fix, prettier --write

Rename it to compose.yaml
  .github/workflows/release.yaml
  .gitignore
  packages/backend/package.json
Due: prettier --write

Fix volume issues
  .github/workflows/release.yaml
Due: none

Default llminstructionsPath
  packages/backend/src/infrastructure/config/Config.ts
Due: eslint --fix, prettier --write

Don't rejoin a voice channel if kicked
  packages/backend/src/application/eventHandlers/DiscordVoiceService.ts
Due: eslint --fix, prettier --write

Add container to do backups of database
  .github/workflows/release.yaml
  packages/backup/Dockerfile
  packages/backup/backup_wtb.sh
Due: none

Add container to do backups of database (#72)
  .github/workflows/release.yaml
  packages/backup/Dockerfile
  packages/backup/backup_wtb.sh
Due: none

Fix import
  packages/backend/src/adapters/repositories/LlmInstructionRepository.ts
Due: eslint --fix, prettier --write

Autoreaction random chance
  packages/backend/src/core/services/AutoReactionService.ts
Due: eslint --fix, prettier --write

Config cleanup, kinda
  .github/workflows/release.yaml
  packages/backend/.env.example
  packages/backend/package.json
  packages/backend/scripts/clear-discord-commands.ts
  packages/backend/scripts/generate-openapi.ts
  packages/backend/scripts/generate-types.ts
  packages/backend/scripts/rollback-migrations.ts
  packages/backend/scripts/run-migrations.ts
  packages/backend/scripts/setup-database.ts
  packages/backend/scripts/sync-docs.ts
  packages/backend/src/adapters/config/ConfigAdapter.ts
  packages/backend/src/application/eventHandlers/DiscordVoiceService.ts
  packages/backend/src/core/config/Config.ts
  packages/backend/src/core/services/AudioCacheService.ts
  packages/backend/src/core/services/AutoReactionService.ts
  packages/backend/src/core/services/DiscordChatService.ts
  packages/backend/src/core/services/SoundService.ts
  packages/backend/src/core/services/SoundboardThreadService.ts
  packages/backend/src/core/services/VoiceEventSoundsService.ts
  packages/backend/src/infrastructure/config/EnvLoader.ts
  packages/backend/src/infrastructure/discord/DiscordBot.ts
  packages/backend/src/infrastructure/ffmpeg/FfprobeService.ts
  packages/backend/src/infrastructure/http/OpenApiGenerator.ts
  packages/backend/src/infrastructure/services/ErrorReportingService.ts
  packages/backend/src/infrastructure/services/GeminiLlmService.ts
  packages/backend/src/main.ts
  packages/backend/tests/integration/audio/sound-service-integration.test.ts
  packages/backend/tests/integration/messagesAndReactions/autoReactionService.test.ts
  packages/backend/tests/integration/testBot/.env.test.example
  packages/backend/tests/integration/testBot/TesterDiscordBot.ts
  packages/backend/tests/unit/core/services/SoundService.test.ts
  packages/backend/tests/utils/testUtils.ts
Due: eslint --fix, prettier --write

Clean up the prod code
  packages/backend/package.json
  packages/backend/src/adapters/config/ConfigAdapter.ts
  packages/backend/src/core/config/Config.ts
  packages/backend/src/core/services/AutoReactionService.ts
  packages/backend/src/core/services/MessageArchiveService.ts
  packages/backend/src/core/services/ReactionArchiveService.ts
  packages/backend/src/infrastructure/discord/DiscordBot.ts
  packages/backend/src/main.ts
  packages/backend/tests/integration/fullApplication.test.ts
  packages/backend/tests/integration/messagesAndReactions/autoReactionService.test.ts
  packages/backend/tests/integration/messagesAndReactions/createAndDeleteMessagesAndReactions.test.ts
  packages/backend/tests/integration/messagesAndReactions/processAllChannels.test.ts
  packages/backend/tests/setup.ts
  packages/backend/tests/utils/createMinimalTestBot.ts
  packages/backend/tests/utils/testEventInterceptor.ts
  packages/backend/tests/utils/testUtils.ts
  packages/backend/vitest.config.ts
Due: eslint --fix, prettier --write

Converted singletons to use DI, parallelized discord tests
  packages/backend/database/migrations.ts
  packages/backend/package.json
  packages/backend/scripts/clear-migration-state.ts
  packages/backend/src/adapters/config/ConfigAdapter.ts
  packages/backend/src/adapters/repositories/LlmInstructionRepository.ts
  packages/backend/src/application/eventHandlers/DiscordVoiceService.ts
  packages/backend/src/core/config/Config.ts
  packages/backend/src/core/services/AutoReactionService.ts
  packages/backend/src/core/services/DiscordChatService.ts
  packages/backend/src/core/services/LlmConversationService.ts
  packages/backend/src/core/services/MessageArchiveService.ts
  packages/backend/src/core/services/ReactionArchiveService.ts
  packages/backend/src/core/services/SoundboardThreadService.ts
  packages/backend/src/core/services/VoiceEventSoundsService.ts
  packages/backend/src/core/utils/channelFilter.ts
  packages/backend/src/core/utils/probabilityUtils.ts
  packages/backend/src/infrastructure/database/DatabaseConnection.ts
  packages/backend/src/infrastructure/discord/DiscordBot.ts
  packages/backend/src/infrastructure/http/ExpressApp.ts
  packages/backend/src/infrastructure/http/OpenApiGenerator.ts
  packages/backend/src/infrastructure/services/GeminiLlmService.ts
  packages/backend/src/main.ts
  packages/backend/tests/integration/audio/sound-service-integration.test.ts
  packages/backend/tests/integration/messagesAndReactions/autoReactionService.test.ts
  packages/backend/tests/integration/messagesAndReactions/createAndDeleteMessagesAndReactions.test.ts
  packages/backend/tests/integration/messagesAndReactions/processAllChannels.test.ts
  packages/backend/tests/integration/testBot/TesterDiscordBot.ts
  packages/backend/tests/setup.ts
  packages/backend/tests/unit/core/services/SoundService.test.ts
  packages/backend/tests/utils/testUtils.ts
  packages/backend/vitest.config.ts
Due: eslint --fix, prettier --write

clean up
  packages/backend/src/application/eventHandlers/DiscordVoiceService.ts
  packages/backend/src/core/services/MessageArchiveService.ts
  packages/backend/src/core/utils/channelFilter.ts
  packages/backend/src/infrastructure/discord/DiscordBot.ts
  packages/backend/tests/integration/messagesAndReactions/autoReactionService.test.ts
  packages/backend/tests/integration/messagesAndReactions/processAllChannels.test.ts
  packages/backend/tests/utils/createMinimalTestBot.ts
Due: eslint --fix, prettier --write

Move sound config out
  packages/backend/src/core/services/AutoReactionService.ts
Due: eslint --fix, prettier --write

Remove second start time var
  packages/backend/src/infrastructure/discord/DiscordBot.ts
Due: eslint --fix, prettier --write

All comments are now simplified
  packages/backend/database/types.ts
  packages/backend/src/application/routes/v1/README.md
  packages/backend/src/core/entities/AudioFormatInfo.ts
  packages/backend/src/core/entities/AudioStream.ts
  packages/backend/src/core/entities/PlayingSound.ts
  packages/backend/src/core/errors/AudioErrors.ts
  packages/backend/src/core/repositories/UnitOfWork.ts
  packages/backend/src/core/services/AudioCacheService.ts
  packages/backend/src/core/services/AudioFormatDetectionService.ts
  packages/backend/src/core/services/MessageArchiveService.ts
  packages/backend/src/core/utils/audio/pcmRepeater.ts
  packages/backend/src/core/utils/audio/pcmUtils.ts
  packages/backend/src/infrastructure/discord/DiscordBot.ts
  packages/backend/src/infrastructure/ffmpeg/FfmpegService.ts
  packages/backend/src/infrastructure/ffmpeg/FfprobeService.ts
  packages/backend/tests/utils/createMinimalTestBot.ts
  packages/backend/tests/utils/testEventInterceptor.ts
  packages/backend/tests/utils/testUtils.ts
  packages/frontend/tailwind.config.js
  packages/types/scripts/generate-exports.js
Due: eslint --fix, prettier --write

Address comments
  .lintstagedrc.json
  .prettierrc
  packages/backend/eslint-local-rules.js
  packages/backend/eslint.config.js
  packages/backend/package.json
  packages/backend/src/infrastructure/discord/DiscordBot.ts
  packages/backend/tests/integration/audio/sound-service-integration.test.ts
Due: eslint --fix, prettier --write

seperate it and func
  packages/backend/eslint-local-rules.js
  packages/backend/eslint.config.js
  packages/backend/tests/integration/audio/environment-check.test.ts
  packages/backend/tests/integration/audio/ffmpeg/audio-file-normalization.test.ts
  packages/backend/tests/integration/audio/ffmpeg/ffmpeg-service-integration.test.ts
  packages/backend/tests/integration/audio/sound-service-integration.test.ts
  packages/backend/tests/integration/audio/yt-dlp/yt-dlp-service-integration.test.ts
  packages/backend/tests/integration/fullApplication.test.ts
  packages/backend/tests/integration/messagesAndReactions/autoReactionService.test.ts
  packages/backend/tests/integration/messagesAndReactions/createAndDeleteMessagesAndReactions.test.ts
  packages/backend/tests/integration/messagesAndReactions/processAllChannels.test.ts
Due: eslint --fix, prettier --write

Drop prettier from gha lint
  .github/workflows/ci.yaml
  .prettierrc
  packages/backend/src/infrastructure/discord/DiscordBot.ts
Due: eslint --fix, prettier --write

getTestConfig()
  packages/backend/tests/unit/core/services/SoundService.test.ts
Due: eslint --fix, prettier --write

t and er
  packages/backend/src/core/config/Config.ts
  packages/backend/src/core/services/AutoReactionService.ts
Due: eslint --fix, prettier --write

l and t
  packages/backend/src/core/config/Config.ts
  packages/backend/src/core/services/AutoReactionService.ts
  packages/backend/tests/setup.ts
Due: eslint --fix, prettier --write

Elliott and 'er
  packages/backend/src/core/services/AutoReactionService.ts
  packages/backend/tests/integration/messagesAndReactions/autoReactionService.test.ts
Due: eslint --fix, prettier --write

Unit test, minor cleanup
  packages/backend/src/core/services/AutoReactionService.ts
  packages/backend/tests/unit/core/services/AutoReactionService.test.ts
Due: eslint --fix, prettier --write

Fix missing wtb_backups in release compose volumes
  .github/workflows/release.yaml
Due: none

I forgor to do this stuff for backups container
  .github/workflows/release.yaml
Due: none

Add env option to force process all Discord channels
  packages/backend/.env.example
  packages/backend/src/adapters/config/ConfigAdapter.ts
  packages/backend/src/core/config/Config.ts
  packages/backend/src/infrastructure/discord/DiscordBot.ts
Due: eslint --fix, prettier --write

Move generating compose.yaml into its own shell script
  .github/workflows/release.yaml
  scripts/generate-compose.sh
Due: none

Use matrix to reduce duplication with the release GH Action
  .github/workflows/release.yaml
  scripts/generate-compose.sh
Due: none

Second pass on Message Archiver
  packages/backend/package.json
  packages/backend/scripts/sync-messages.ts
  packages/backend/src/adapters/repositories/MessageRepository.ts
  packages/backend/src/core/entities/Message.ts
  packages/backend/src/core/repositories/MessageRepository.ts
  packages/backend/src/core/services/FileManager.ts
  packages/backend/src/core/services/MessageArchiveService.ts
  packages/backend/src/infrastructure/discord/DiscordBot.ts
  packages/backend/src/infrastructure/filestore/FileManager.ts
  packages/backend/src/main.ts
  packages/backend/tests/integration/messagesAndReactions/processAllChannels.test.ts
  packages/backend/tests/unit/core/services/SoundService.test.ts
  packages/backend/tests/unit/messages/editMessage.test.ts
  packages/backend/tests/utils/createMinimalTestBot.ts
Due: eslint --fix, prettier --write

Dynamic batching
  packages/backend/src/core/services/MessageArchiveService.ts
  packages/backend/src/core/utils/batchUtils.ts
Due: eslint --fix, prettier --write

Commander
  packages/backend/package.json
  packages/backend/scripts/sync-messages.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

CI fix https://github.com/FedericoCarboni/setup-ffmpeg/issues/29
  .github/workflows/ci.yaml
Due: none

Another more different ffmpeg cache
  .github/workflows/ci.yaml
Due: none

Path conditions:
  eslint --fix: (any of: packages/backend/**/*.{ts,tsx}) or (any of: packages/frontend/**/*.{ts,tsx})
  prettier --write: ((any of: packages/backend/**/*.{ts,tsx}) or (any of: packages/frontend/**/*.{ts,tsx})) or (any of: **/*.{json,md})
