Repository ellman12/WingTechBot-MK3: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Bump the minimum Node.js version to >= v24
  .github/workflows/ci.yaml
  .github/workflows/dependencies.yaml
  README.md
  packages/backend/Dockerfile
Due: prettier --write

Bump the minimum required pnpm version to >= v11
  .github/workflows/ci.yaml
  .github/workflows/dependencies.yaml
  README.md
  package.json
  packages/backend/Dockerfile
  packages/backend/package.json
  pnpm-workspace.yaml
Due: prettier --write

Fix Dockerfile issues
  packages/backend/Dockerfile
Due: none

Make emoteName param of getTopMessages optional
  packages/backend/src/adapters/repositories/ReactionRepository.ts
  packages/backend/src/application/commands/ReactionCommands.ts
  packages/backend/tests/unit/reactions/getTopMessages.test.ts
Due: eslint --fix, prettier --write

Fix ten logical flaws in the backend audio pipeline
  packages/backend/src/adapters/audio/OverlappingAudioPlayer.ts
  packages/backend/src/adapters/discord/DiscordVoiceService.ts
  packages/backend/src/adapters/filestore/FileManager.ts
  packages/backend/src/core/entities/PlayingSound.ts
  packages/backend/src/core/entities/Sound.ts
  packages/backend/src/core/errors/AudioErrors.ts
  packages/backend/src/core/ports/services/FileManager.ts
  packages/backend/src/core/services/AudioCacheService.ts
  packages/backend/src/core/services/AudioFetcherService.ts
  packages/backend/src/core/services/SoundService.ts
  packages/backend/src/core/utils/audio/PcmMixer.ts
  packages/backend/src/core/utils/audio/pcmRepeater.ts
  packages/backend/src/core/utils/audio/pcmUtils.ts
  packages/backend/src/core/utils/streamUtils.ts
  packages/backend/src/infrastructure/ffmpeg/FfmpegService.ts
  packages/backend/src/infrastructure/yt-dlp/YtDlpService.ts
  packages/backend/src/main.ts
  packages/backend/tests/unit/application/commands/AudioCommands.test.ts
  packages/backend/tests/unit/core/entities/PlayingSound.test.ts
  packages/backend/tests/unit/core/entities/Sound.test.ts
  packages/backend/tests/unit/core/services/AudioCacheService.test.ts
  packages/backend/tests/unit/core/services/AudioFetcherService.test.ts
  packages/backend/tests/unit/core/services/SoundService.test.ts
  packages/backend/tests/unit/core/utils/audio/PcmMixer.test.ts
  packages/backend/tests/unit/core/utils/audio/pcmUtils.test.ts
  packages/backend/tests/unit/infrastructure/FfmpegService.test.ts
  packages/backend/tests/unit/infrastructure/YtDlpService.test.ts
Due: eslint --fix, prettier --write

top-messages command now accepts roles in addition to users
  packages/backend/src/adapters/repositories/ReactionRepository.ts
  packages/backend/src/application/commands/ReactionCommands.ts
  packages/backend/tests/unit/reactions/getTopMessages.test.ts
Due: eslint --fix, prettier --write

update packages
  package.json
  packages/backend/package.json
  pnpm-lock.yaml
Due: prettier --write

fix test
  .github/workflows/ci.yaml
  packages/backend/tests/integration/testBot/TesterDiscordBot.ts
  packages/backend/tests/setup.ts
Due: eslint --fix, prettier --write

Fix using d instead of dd for dates
  packages/backend/src/application/commands/PlayedSoundsCommands.ts
Due: eslint --fix, prettier --write

Update README
  README.md
Due: prettier --write

Trim architecture docs and comments
  README.md
  packages/backend/ARCHITECTURE.md
  packages/backend/eslint.config.js
  packages/backend/src/adapters/discord/DiscordVoiceService.ts
  packages/backend/src/adapters/repositories/ReactionEmoteRepository.ts
  packages/backend/src/main.ts
Due: eslint --fix, prettier --write

Replace FileManager with focused storage ports
  packages/backend/src/adapters/filestore/FileManager.ts
  packages/backend/src/adapters/filestore/FsAudioCacheStore.ts
  packages/backend/src/adapters/filestore/FsCheckpointStore.ts
  packages/backend/src/adapters/filestore/FsSoundFileStore.ts
  packages/backend/src/adapters/filestore/fsUtils.ts
  packages/backend/src/adapters/repositories/LlmInstructionRepository.ts
  packages/backend/src/application/discord/MessageSync.ts
  packages/backend/src/core/ports/repositories/AudioCacheStore.ts
  packages/backend/src/core/ports/repositories/CheckpointStore.ts
  packages/backend/src/core/ports/repositories/SoundFileStore.ts
  packages/backend/src/core/ports/services/FileManager.ts
  packages/backend/src/core/services/AudioCacheService.ts
  packages/backend/src/core/services/AudioFetcherService.ts
  packages/backend/src/core/services/SoundService.ts
  packages/backend/src/main.ts
  packages/backend/tests/integration/audio/sound-service-integration.test.ts
  packages/backend/tests/unit/adapters/filestore/FsAudioCacheStore.test.ts
  packages/backend/tests/unit/core/services/AudioCacheService.test.ts
  packages/backend/tests/unit/core/services/SoundService.test.ts
  packages/backend/tests/utils/createMinimalTestBot.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: packages/backend/**/*.{ts,tsx}) or (any of: packages/frontend/**/*.{ts,tsx})
  prettier --write: ((any of: packages/backend/**/*.{ts,tsx}) or (any of: packages/frontend/**/*.{ts,tsx})) or (any of: **/*.{json,md})
