Repository ellman12/WingTechBot-MK3: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "packages/backend/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
    "packages/frontend/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
    "**/*.{json,md}": ["prettier --write"]
}

Reduce duplication inside of and clean up handleReactions()
  packages/backend/src/application/commands/ReactionCommands.ts
Due: eslint --fix, prettier --write

Reduce duplication with some SoundRepository functions
  packages/backend/src/adapters/repositories/SoundRepository.ts
Due: eslint --fix, prettier --write

Getting all sounds now filters out "currently-playing"
  packages/backend/src/adapters/repositories/SoundRepository.ts
Due: eslint --fix, prettier --write

Reduce SoundTagService unit test duplication
  packages/backend/tests/unit/core/services/SoundTagService.test.ts
Due: eslint --fix, prettier --write

Small cleanup
  packages/backend/src/core/services/VoiceEventSoundsService.ts
Due: eslint --fix, prettier --write

VoiceEventSounds now have short delays before they play
  packages/backend/src/core/services/VoiceEventSoundsService.ts
Due: eslint --fix, prettier --write

Delete frontend folder
  packages/frontend/.gitignore
  packages/frontend/README.md
  packages/frontend/index.html
  packages/frontend/package.json
  packages/frontend/postcss.config.js
  packages/frontend/public/vite.svg
  packages/frontend/src/App.css
  packages/frontend/src/App.tsx
  packages/frontend/src/assets/react.svg
  packages/frontend/src/components/Button.tsx
  packages/frontend/src/hooks/useRandomQuote.ts
  packages/frontend/src/index.css
  packages/frontend/src/main.tsx
  packages/frontend/src/stores/counterStore.ts
  packages/frontend/src/vite-env.d.ts
  packages/frontend/tailwind.config.js
  packages/frontend/tsconfig.app.json
  packages/frontend/tsconfig.json
  packages/frontend/tsconfig.node.json
  packages/frontend/vite.config.ts
Due: eslint --fix, prettier --write

Update all packages except TypeScript and @dotenvx/dotenvx
  package.json
  packages/backend/database/migrations.ts
  packages/backend/package.json
  packages/frontend/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Delete frontend folder and package
  packages/frontend/.gitignore
  packages/frontend/README.md
  packages/frontend/index.html
  packages/frontend/package.json
  packages/frontend/postcss.config.js
  packages/frontend/public/vite.svg
  packages/frontend/src/App.css
  packages/frontend/src/App.tsx
  packages/frontend/src/assets/react.svg
  packages/frontend/src/components/Button.tsx
  packages/frontend/src/hooks/useRandomQuote.ts
  packages/frontend/src/index.css
  packages/frontend/src/main.tsx
  packages/frontend/src/stores/counterStore.ts
  packages/frontend/src/vite-env.d.ts
  packages/frontend/tailwind.config.js
  packages/frontend/tsconfig.app.json
  packages/frontend/tsconfig.json
  packages/frontend/tsconfig.node.json
  packages/frontend/vite.config.ts
Due: eslint --fix, prettier --write

Delete types folder and package
  packages/backend/Dockerfile
  packages/backend/package.json
  packages/types/README.md
  packages/types/package-lock.json
  packages/types/package.json
  packages/types/scripts/README.md
  packages/types/scripts/generate-exports.js
  packages/types/src/api/v1/users.ts
  packages/types/src/common/api.ts
  packages/types/src/common/error.ts
  packages/types/tsconfig.json
Due: prettier --write

Update ci.yaml and pnpm-lock.yaml
  .github/workflows/ci.yaml
  pnpm-lock.yaml
Due: none

Remove a lot of useless pnpm scripts and packages
  .prettierrc
  eslint.config.js
  package.json
  packages/backend/package.json
  pnpm-lock.yaml
Due: prettier --write

Remove duplicate tests
  packages/backend/tests/integration/messagesAndReactions/processAllChannels.test.ts
Due: eslint --fix, prettier --write

Remove more useless scripts
  packages/backend/package.json
  packages/backend/scripts/clear-discord-commands.ts
  packages/backend/scripts/clear-migration-state.ts
  packages/backend/scripts/rollback-migrations.ts
  packages/backend/scripts/sync-messages.ts
Due: eslint --fix, prettier --write

Remove Express.js and OpenAPI stuff
  .github/workflows/README.md
  README.md
  packages/backend/.env.example
  packages/backend/README.md
  packages/backend/docs/openapi.json
  packages/backend/package.json
  packages/backend/scripts/generate-openapi.ts
  packages/backend/scripts/sync-docs.ts
  packages/backend/src/application/routes/v1/README.md
  packages/backend/src/application/routes/v1/health.ts
  packages/backend/src/application/routes/v1/routes.ts
  packages/backend/src/infrastructure/http/ExpressApp.ts
  packages/backend/src/infrastructure/http/OpenApiGenerator.ts
  packages/backend/src/infrastructure/http/RouteSetupService.ts
  packages/backend/src/infrastructure/http/api/ApiRouter.ts
  packages/backend/src/infrastructure/http/api/README.md
  packages/backend/src/infrastructure/http/api/RouteRegistry.ts
  packages/backend/src/infrastructure/http/api/types.ts
  packages/backend/src/main.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Fix lint issues
  packages/backend/src/adapters/config/ConfigAdapter.ts
  packages/backend/src/adapters/services/DiscordVoiceService.ts
  packages/backend/src/core/services/AudioFetcherService.ts
  packages/backend/src/core/services/AutoReactionService.ts
  packages/backend/src/infrastructure/ffmpeg/FfprobeService.ts
Due: eslint --fix, prettier --write

Increase delays for VoiceEventSounds soundDelays
  packages/backend/src/core/services/VoiceEventSoundsService.ts
Due: eslint --fix, prettier --write

Small tweaks to .env examples
  packages/backend/.env.example
  packages/backend/tests/integration/testBot/.env.test.example
Due: none

Remove useless voice (state) stuff
  packages/backend/src/adapters/repositories/DiscordVoiceStateRepository.ts
  packages/backend/src/core/repositories/VoiceStateRepository.ts
  packages/backend/src/core/services/VoiceStateService.ts
Due: eslint --fix, prettier --write

Drop linux/arm64 from release.yaml platforms
  .github/workflows/release.yaml
Due: none

Update UserJoin delay
  packages/backend/src/core/services/VoiceEventSoundsService.ts
Due: eslint --fix, prettier --write

Update UserJoin delay (#113)
  packages/backend/src/core/services/VoiceEventSoundsService.ts
Due: eslint --fix, prettier --write

Forgot to merge these files in a past MR
  packages/backend/src/adapters/services/DiscordVoiceService.ts
  packages/backend/src/application/commands/Commands.ts
  packages/backend/src/application/commands/VoiceCommands.ts
  packages/backend/src/application/eventHandlers/DiscordVoiceService.ts
  packages/backend/src/core/services/SoundboardThreadService.ts
  packages/backend/src/core/services/VoiceEventSoundsService.ts
  packages/backend/src/core/services/VoiceService.ts
  packages/backend/src/infrastructure/discord/DiscordBot.ts
  packages/backend/tests/utils/createMinimalTestBot.ts
Due: eslint --fix, prettier --write

Add getVoiceChannelId to DiscordVoiceService
  packages/backend/src/adapters/services/DiscordVoiceService.ts
  packages/backend/tests/utils/createMinimalTestBot.ts
Due: eslint --fix, prettier --write

Now only plays a VoiceEventSound if the user and bot are in the same VC
  packages/backend/src/core/services/VoiceEventSoundsService.ts
Due: eslint --fix, prettier --write

Fix some regressions because I am incapable of testing
  packages/backend/src/core/services/VoiceEventSoundsService.ts
Due: eslint --fix, prettier --write

Reduce duplication in DiscordChatService and replyToInteraction
  packages/backend/src/application/commands/AudioCommands.ts
  packages/backend/src/application/commands/BannedFeaturesCommands.ts
  packages/backend/src/application/commands/ReactionCommands.ts
  packages/backend/src/application/commands/SoundTagCommands.ts
  packages/backend/src/core/services/DiscordChatService.ts
Due: eslint --fix, prettier --write

Install date-fns
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add more scripts to package.json
  package.json
Due: prettier --write

Add /sound-played-dates command to WTB
  packages/backend/src/application/commands/PlayedSoundsCommands.ts
Due: eslint --fix, prettier --write

Add getSoundPlayedDates to PlayedSoundsRepository
  packages/backend/src/adapters/repositories/PlayedSoundsRepository.ts
  packages/backend/tests/unit/playedSounds/playedSounds.test.ts
  packages/backend/tests/utils/createMinimalTestBot.ts
Due: eslint --fix, prettier --write

Now filters out sounds that have never been played
  packages/backend/src/adapters/repositories/PlayedSoundsRepository.ts
  packages/backend/src/application/commands/PlayedSoundsCommands.ts
  packages/backend/tests/unit/playedSounds/playedSounds.test.ts
Due: eslint --fix, prettier --write

Can now filter by userId and year, also early return for empty result
  packages/backend/src/adapters/repositories/PlayedSoundsRepository.ts
  packages/backend/src/application/commands/PlayedSoundsCommands.ts
  packages/backend/tests/unit/playedSounds/playedSounds.test.ts
Due: eslint --fix, prettier --write

Result of getVoiceEventSounds() is now sorted
  packages/backend/src/adapters/repositories/VoiceEventSoundsRepository.ts
  packages/backend/src/application/commands/VoiceEventSoundsCommands.ts
Due: eslint --fix, prettier --write

Add formatTable(), improve output of most commands
  packages/backend/src/application/commands/Commands.ts
  packages/backend/src/application/commands/PlayedSoundsCommands.ts
  packages/backend/src/application/commands/ReactionCommands.ts
  packages/backend/src/application/commands/SoundTagCommands.ts
  packages/backend/src/application/commands/VoiceEventSoundsCommands.ts
  packages/backend/src/core/utils/formatTable.ts
Due: eslint --fix, prettier --write

Install fast-text-table package in the backend
  packages/backend/package.json
  pnpm-lock.yaml
Due: prettier --write

VoiceEventSound.name is no longer nullable
  packages/backend/src/adapters/repositories/VoiceEventSoundsRepository.ts
  packages/backend/src/application/commands/VoiceEventSoundsCommands.ts
  packages/backend/src/core/entities/VoiceEventSound.ts
  packages/backend/src/core/services/VoiceEventSoundsService.ts
Due: eslint --fix, prettier --write

Fix VoiceEventSounds.user_id not being a foreign key
  packages/backend/database/migrations/013_voice_event_sounds_user_id_pkey.ts
  packages/backend/tests/unit/voiceEventSounds/addAndDeleteVoiceEventSounds.test.ts
Due: eslint --fix, prettier --write

Bump the minimum required pnpm version to v11
  .github/workflows/ci.yaml
  .github/workflows/dependencies.yaml
  README.md
  package.json
  pnpm-workspace.yaml
Due: prettier --write
